/* REQUIRED CSS CUSTOM PROPERTY */
:root {
    --bg-color: antiquewhite;
}

/* REQUIRED BACKGROUND IMAGE */
body {
    background-image: url("images.jpg");
    font-family: "SN Pro", sans-serif;
}

/* PAGE CONTAINER */
#whole-page {
    width: 50rem;
    margin: 2rem auto;
    background-color: white;
    padding: 1rem;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}